.secondary-slider .arrow {
  position: absolute;
  width: 200px;
  height: 1px;
  background: #fff;
}

.secondary-slider .arrow:before,
.secondary-slider .arrow:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-right: 0;
}

.secondary-slider .arrow:after {
  top: -2px;
  right: -5px;
  border-left-color: #fff;
  border-width: 3px 0 3px 10px;
}

.secondary-slider__slide3-arrow-container {
  position: absolute;
  top: 150px;
  right: 548px;
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(1) {
  width: 110px;
  top: 85px;
  left: 110px;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(2) {
  width: 110px;
  top: 95px;
  left: 110px;
  -webkit-transform: rotate(188deg);
          transform: rotate(188deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(3) {
  width: 145px;
  top: 145px;
  left: 85px;
  -webkit-transform: rotate(31deg);
          transform: rotate(31deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(4) {
  width: 145px;
  top: 155px;
  left: 85px;
  -webkit-transform: rotate(211deg);
          transform: rotate(211deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(5) {
  width: 65px;
  top: 151px;
  left: 40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(6) {
  width: 210px;
  top: 225px;
  left: -56px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(7) {
  width: 65px;
  top: 151px;
  left: -7px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(8) {
  width: 13px;
  top: 260px;
  left: 65px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(9) {
  width: 25px;
  top: 318px;
  left: 60px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(10) {
  width: 53px;
  top: 303px;
  left: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(11) {
  width: 17px;
  top: 380px;
  left: 52px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(12) {
  width: 17px;
  top: 387px;
  left: 28px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(13) {
  width: 110px;
  top: 84px;
  left: -130px;
  -webkit-transform: rotate(-188deg);
          transform: rotate(-188deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(14) {
  width: 110px;
  top: 93px;
  left: -130px;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(15) {
  width: 145px;
  top: 143px;
  left: -140px;
  -webkit-transform: rotate(-211deg);
          transform: rotate(-211deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(16) {
  width: 145px;
  top: 155px;
  left: -140px;
  -webkit-transform: rotate(-31deg);
          transform: rotate(-31deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(17) {
  width: 225px;
  top: 187px;
  left: -190px;
  -webkit-transform: rotate(-218deg);
          transform: rotate(-218deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(18) {
  width: 17px;
  top: 299px;
  left: -182px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(19) {
  width: 95px;
  top: 315px;
  left: -150px;
  -webkit-transform: rotate(26deg);
          transform: rotate(26deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(20) {
  width: 70px;
  top: 352px;
  left: -130px;
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(21) {
  width: 17px;
  top: 153px;
  left: 321px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.secondary-slider__slide3-arrow-container .arrow:nth-child(22) {
  width: 17px;
  top: 157px;
  left: 308px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
/*# sourceMappingURL=arrows.css.map */