.main-slider {
  position: relative;
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto;
}

.main-slider__title {
  margin-top: 0;
  margin-bottom: 23px;
  max-width: 735px;
  font-size: 50px;
  font-family: "Gotham Pro";
  font-weight: 400;
  line-height: 1.25;
  word-spacing: -1.5px;
}

.main-slider__scene {
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

.main-slider__slides {
  height: 100%;
}

.main-slider__slide {
  position: relative;
  height: 768px;
  width: 1024px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.main-slider__slide_1 {
  padding-top: 130px;
  padding-left: 68px;
  padding-right: 145px;
  padding-bottom: 130px;
  background-image: url("../img/slide1-bg.jpg");
  color: #0d319c;
}

.main-slider__slide_2 {
  padding-top: 242px;
  padding-left: 149px;
  padding-right: 145px;
  padding-bottom: 130px;
  background-image: url("../img/slide2-bg.jpg");
  background-color: #000;
  color: #fff;
}

.main-slider__slide_2 .main-slider__title {
  font-family: "Gotham Pro";
  font-weight: 200;
  text-align: center;
}

.main-slider__slide_2 .iceblock_1 {
  width: 151px;
  height: 218px;
  top: 25px;
  right: 0;
  background-image: url("../img/slide2-iceblock1.png");
}

.main-slider__slide_2 .iceblock_2 {
  width: 41px;
  height: 38px;
  top: 160px;
  left: 80px;
  background-image: url("../img/slide2-iceblock2.png");
}

.main-slider__slide_2 .iceblock_3 {
  width: 103px;
  height: 102px;
  bottom: 225px;
  left: 230px;
  background-image: url("../img/slide2-iceblock3.png");
}

.main-slider__slide_2 .iceblock_4 {
  width: 97px;
  height: 98px;
  bottom: 100px;
  right: 230px;
  background-image: url("../img/slide2-iceblock4.png");
}

.main-slider__slide_3 .iceblock_5 {
  width: 38px;
  height: 38px;
  top: 112px;
  right: 75px;
  background-image: url("../img/slide3-iceblock1.png");
}

.main-slider__slide_3 .iceblock_6 {
  width: 107px;
  height: 102px;
  top: 228px;
  right: 255px;
  background-image: url("../img/slide3-iceblock4.png");
}

.main-slider__slide_3 .iceblock_7 {
  width: 230px;
  height: 218px;
  bottom: 5px;
  left: 15px;
  background-image: url("../img/slide3-iceblock2.png");
}

.main-slider__slide_3 .iceblock_8 {
  width: 39px;
  height: 39px;
  top: 92px;
  left: 475px;
  background-image: url("../img/slide3-iceblock3.png");
  opacity: 0.5;
}

.main-slider__slide_3 .iceblock_9 {
  width: 107px;
  height: 102px;
  top: 240px;
  left: 45px;
  background-image: url("../img/slide3-iceblock4.png");
  opacity: 0.5;
}

.main-slider__slide_3 .iceblock_10 {
  width: 133px;
  height: 204px;
  bottom: 0;
  right: 0;
  background-image: url("../img/slide3-iceblock5.png");
  opacity: 0.6;
}

.main-slider__slide_3 .iceblock_11 {
  width: 38px;
  height: 38px;
  left: -5px;
  top: 110px;
  background-image: url("../img/slide3-iceblock1.png");
  opacity: 0.6;
}

.main-slider__slide_3 .iceblock_12 {
  width: 88px;
  height: 101px;
  right: 0;
  top: 210px;
  background-image: url("../img/slide3-iceblock7.png");
  opacity: 0.6;
}

.main-slider__slide_3 .iceblock_13 {
  width: 203px;
  height: 185px;
  bottom: 0;
  left: 150px;
  background-image: url("../img/slide3-iceblock8.png");
  opacity: 0.6;
}

.main-slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-slider__bullets-container {
  position: absolute;
  top: 46%;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-slider__bullets-container .bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
}

.main-slider__bullets-container .bullet:not(:last-child) {
  margin-bottom: 7px;
}

.main-slider__bullets-container .bullet_active {
  background-color: #f78b1f;
}

.main-slider__scroll_down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-slider__iceblock {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-1-list__item {
  position: relative;
  font-size: 20px;
  font-weight: 400;
}

.slide-1-list__item_1 {
  padding-right: 113px;
  margin-bottom: 100px;
  text-align: right;
}

.slide-1-list__item_2 {
  padding-left: 155px;
  margin-bottom: 70px;
}

.slide-1-list__item_3 {
  text-align: right;
}

.slide-1-list__item_4 {
  padding-left: 302px;
}

.scroll-down {
  min-height: 70px;
  background-image: url("../img/scroll-down-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.scroll-down__text {
  margin: 0 auto;
  padding-left: 25px;
  color: #fff;
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.scroll-down__arrow {
  position: relative;
  margin: 0 auto;
  width: 75px;
  height: 40px;
  padding: 0;
}

.scroll-down__arrow::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 0;
  margin-top: 0;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=main-slider.css.map */