.secondary-slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary-slider__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  width: 1024px;
  height: 768px;
  padding-top: 113px;
  padding-left: 82px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../img/slide3-bg.jpg");
  background-color: #000;
}

.secondary-slider__slide_1 .secondary-slider__title {
  margin-bottom: 300px;
}

.secondary-slider__slide_1 .secondary-slider__result {
  margin-left: 320px;
  padding: 35px 55px;
  max-width: 245px;
  font-size: 20px;
}

.secondary-slider__slide_2 .secondary-slider__title {
  margin-bottom: 170px;
}

.secondary-slider__slide_2 .secondary-slider__result {
  margin-left: 245px;
  padding: 55px 110px;
  max-width: 385px;
  font-size: 25px;
}

.secondary-slider__slide_3 .out-of-list-text {
  position: absolute;
  left: 270px;
  bottom: 340px;
}

.secondary-slider__slide_3 .secondary-slider__result {
  position: absolute;
  border: none;
  left: 42%;
  bottom: 33%;
  font-size: 25px;
}

.secondary-slider__title {
  margin-top: 0;
  color: #fff;
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 30px;
}

.secondary-slider__result {
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid #fff;
  color: #fff;
}

.secondary-slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: num;
}

.secondary-slider__list-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-increment: num;
}

.secondary-slider__list-item::after {
  content: counter(num);
  position: absolute;
  right: 34px;
  top: -45px;
  font-size: 37px;
  color: #fff;
  text-align: right;
  font-weight: 600;
}

.secondary-slider__list-item_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondary-slider__text {
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
  font-size: 23px;
}

.secondary-slider__text_smaller {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  color: #fff;
}

.secondary-slider__circle {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.2);
}

.secondary-slider__circle_big {
  width: 80px;
  height: 80px;
}

.secondary-slider__circle_mid {
  width: 60px;
  height: 60px;
}

.secondary-slider__elements-group {
  position: absolute;
  left: 702px;
  top: 330px;
  width: 258px;
  height: 322px;
  border-width: 1px;
  border-color: rgba(207, 20, 55, 0.1);
  border-style: solid;
  border-radius: 19%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
  z-index: 0;
}

.secondary-slider__elements-group-label {
  position: absolute;
  right: 105px;
  bottom: 402px;
}

.secondary-slider__range-container {
  position: absolute;
  bottom: 25px;
  left: 20%;
  width: 630px;
  z-index: 1;
}

.secondary-slider__range {
  height: 10px;
  width: 100%;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#435063), to(#435063));
  background: linear-gradient(to right, #435063 0%, #435063 100%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.secondary-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 30px;
  height: 55px;
  background: url("../img/slide3-range.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  -webkit-transform: translateY(9px) scale(1.5);
          transform: translateY(9px) scale(1.5);
}

.secondary-slider__range-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px 0 -12px;
  color: #fff;
}

.secondary-slider__range-list-item {
  font-family: "Gotham Pro";
}

.secondary-slider__range-list-item:nth-child(2) {
  margin: 0 auto;
}

.secondary-slider .circle-beta {
  background-image: url("../img/slide3-beta.png");
  background-size: 40% 80%;
}

.secondary-slider .circle-muscle {
  background-image: url("../img/slide3-muscle.png");
  background-size: 80% 50%;
}

.secondary-slider .circle-liver {
  background-image: url("../img/slide3-liver.png");
  background-size: 70% 60%;
}

.secondary-slider .circle-fat {
  background-image: url("../img/slide3-fat.png");
  background-size: 80% 70%;
}

.secondary-slider .circle-brain {
  background-image: url("../img/slide3-brain.png");
  background-size: 80% 70%;
}

.secondary-slider .circle-kidney {
  background-image: url("../img/slide3-kidney.png");
  background-size: 60% 70%;
}

.secondary-slider .circle-intestine {
  background-image: url("../img/slide3-intestine.png");
  background-size: 70% 95%;
}

.secondary-slider .circle-infection {
  background-image: url("../img/slide3-infection.png");
  background-size: 80% 80%;
}

.secondary-slider .circle-stomach {
  background-image: url("../img/slide3-stomach.png");
  background-size: 70% 70%;
}
/*# sourceMappingURL=secondary-slider.css.map */